@import "tailwindcss";

/* Chrome, Edge, Safari */
.paid-input::-webkit-outer-spin-button,
.paid-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.paid-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Chrome, Edge, Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
